<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.troop.freedcam"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- used on huawei p9/10 and for new devices? -->
    <uses-permission android:name="android.permission.HW_CAMCFG_SERVICE" />
    <uses-permission android:name="com.huawei.camera.permission.PRIVATE" />
    <uses-permission android:name="huawei.android.permission.HW_SIGNATURE_OR_SYSTEM" /> <!-- used on huawei p9/10 and for new devices? -->
    <!-- used by sony xperia zX devices? -->
    <uses-permission android:name="com.sonyericsson.permission.CAMERA_EXTENDED" /> <!-- used by sony xperia zX devices? -->
    <!-- used on oneplus5 -->
    <uses-permission android:name="com.oneplus.camera.CAMERA_SERVICE" />
    <uses-permission android:name="com.oneplus.camera.PICTURE_PROCESS_SERVICE" /> <!-- used on oneplus5 -->
    <!--
 only for system apps
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />

    <application
        android:name="com.image.browser.App"
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FreeDCam"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/FullscreenTheme">
        <activity android:name="com.image.browser.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>